In [2]:
import pandas as pd

In [3]:
from powerNetworkSolver import PowerNetworkSolver
from powerNetwork import networkTransform, getGenerators, getBuses, getLines,getNumBuses, getNumLines
from powerNetwork import getUndGraph, kron_reduction, edge_removing
from disturbancesGnr import normaldisturbances
from violationChecking import globalcheck

# 1. Test Case 39, complete network

In [4]:
from pypower.api import case39

In [5]:
network39, subnetwork39 = networkTransform(case39())
df_lines39 = getLines(subnetwork39)
df_buses39 = getBuses(subnetwork39)

WARNING:pypsa.io:Warning: Note that when importing from PYPOWER, some PYPOWER features not supported: areas, gencosts, component status
INFO:numexpr.utils:Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.

In [6]:
n39, ngnr39, unG39 = getUndGraph(df_buses39,df_lines39, network39)
A39, redL39, redA39  = kron_reduction(n39, ngnr39, unG39)

In [48]:
node_list =  np.arange(ngnr39)+1

In [7]:
K = 1
M = np.array([0.2228, 0.1607, 0.1899, 0.1517, 0.1379, 0.1846, 0.1401, 0.1289, 0.183, 2.6526])
D = np.array([0.0332,0.076,0.0862,0.0838,0.0674,0.0862,0.0743,0.0716,0.1101,0.1333])
# Ome = np.zeros(n)
pi = math.pi

t = 15
nn = 100

theta0 = np.zeros(ngnr39)
omega0 = np.zeros(ngnr39)
model39 = PowerNetworkSolver(theta0,omega0,redA39, ngnr39, D,M,K)

In [9]:
KK =3000#repetition times  
t = 5
nn = 1000
dt = np.linspace(0, t, nn+1)
sigma = 0.05
check_times = 100
thres = np.array([0.35,0.5])

rates39 = model39.Simulation(KK, check_times, sigma, thres, t, nn, normaldisturbances)

In [56]:
df39 = pd.DataFrame({'Node': node_list,'RoCoF': rates39['vcheck_omega'] , 'AFV': rates39['vcheck_theta'] ,'AV': rates39['vcheck_any']})
# print(df39.to_latex(index=False))

\begin{tabular}{rrrr}
\toprule
 Node &  RoCoF &   AFV &    AV \\
\midrule
    1 &  0.625 & 0.598 & 0.673 \\
    2 &  0.452 & 0.220 & 0.452 \\
    3 &  0.431 & 0.195 & 0.431 \\
    4 &  0.435 & 0.197 & 0.435 \\
    5 &  0.488 & 0.278 & 0.489 \\
    6 &  0.430 & 0.211 & 0.430 \\
    7 &  0.452 & 0.231 & 0.452 \\
    8 &  0.454 & 0.210 & 0.454 \\
    9 &  0.361 & 0.101 & 0.361 \\
   10 &  0.293 & 0.071 & 0.293 \\
\bottomrule
\end{tabular}

# 2. Test Case 39, incomplete networks

## 2.1 Removing (20, 34)

In [11]:
G3901 = edge_removing(unG39, [20,34])
A3901, redL3901, redA3901  = kron_reduction(n39, ngnr39, G3901)
model3901 = PowerNetworkSolver(theta0,omega0,redA3901, ngnr39, D,M,K)
rates3901 = model3901.Simulation(KK, check_times, sigma, thres, t, nn, normaldisturbances)

In [53]:
df3901 = pd.DataFrame({'Node': node_list,'RoCoF': rates3901['vcheck_omega'] , 'AFV': rates3901['vcheck_theta'] ,'AV': rates3901['vcheck_any']})
# print(df3901.to_latex(index=False))

\begin{tabular}{rrrr}
\toprule
 Node &  RoCoF &   AFV &    AV \\
\midrule
    1 &  0.637 & 0.609 & 0.682 \\
    2 &  0.458 & 0.213 & 0.458 \\
    3 &  0.435 & 0.192 & 0.435 \\
    4 &  0.444 & 0.199 & 0.444 \\
    5 &  0.495 & 0.307 & 0.496 \\
    6 &  0.441 & 0.208 & 0.441 \\
    7 &  0.464 & 0.237 & 0.464 \\
    8 &  0.462 & 0.218 & 0.462 \\
    9 &  0.368 & 0.103 & 0.368 \\
   10 &  0.301 & 0.072 & 0.301 \\
\bottomrule
\end{tabular}

## 2.2 Removing (15, 16)

In [13]:
G3902 = edge_removing(unG39, [15,16])
A3902, redL3902, redA3902  = kron_reduction(n39, ngnr39, G3902)
model3902 = PowerNetworkSolver(theta0,omega0,redA3902, ngnr39, D,M,K)
rates3902 = model3902.Simulation(KK, check_times, sigma, thres, t, nn, normaldisturbances)

In [54]:
df3902 = pd.DataFrame({'Node': node_list,'RoCoF': rates3902['vcheck_omega'] , 'AFV': rates3902['vcheck_theta'] ,'AV': rates3902['vcheck_any']})
# print(df3902.to_latex(index=False))

\begin{tabular}{rrrr}
\toprule
 Node &  RoCoF &   AFV &    AV \\
\midrule
    1 &  0.639 & 0.617 & 0.685 \\
    2 &  0.451 & 0.224 & 0.451 \\
    3 &  0.427 & 0.183 & 0.427 \\
    4 &  0.440 & 0.206 & 0.440 \\
    5 &  0.489 & 0.277 & 0.489 \\
    6 &  0.436 & 0.205 & 0.436 \\
    7 &  0.465 & 0.240 & 0.465 \\
    8 &  0.453 & 0.212 & 0.453 \\
    9 &  0.359 & 0.111 & 0.359 \\
   10 &  0.301 & 0.079 & 0.301 \\
\bottomrule
\end{tabular}

## 2.2 Removing (23, 24)

In [15]:
G3903 = edge_removing(unG39, [23,24])
A3903, redL3903, redA3903  = kron_reduction(n39, ngnr39, G3903)
model3903 = PowerNetworkSolver(theta0,omega0,redA3903, ngnr39, D,M,K)
rates3903 = model3903.Simulation(KK, check_times, sigma, thres, t, nn, normaldisturbances)

In [55]:
df3903 = pd.DataFrame({'Node': node_list,'RoCoF': rates3903['vcheck_omega'] , 'AFV': rates3903['vcheck_theta'] ,'AV': rates3903['vcheck_any']})
# print(df3903.to_latex(index=False))

\begin{tabular}{rrrr}
\toprule
 Node &  RoCoF &   AFV &    AV \\
\midrule
    1 &  0.624 & 0.587 & 0.668 \\
    2 &  0.439 & 0.203 & 0.439 \\
    3 &  0.423 & 0.179 & 0.423 \\
    4 &  0.422 & 0.182 & 0.422 \\
    5 &  0.474 & 0.258 & 0.474 \\
    6 &  0.420 & 0.193 & 0.420 \\
    7 &  0.445 & 0.207 & 0.445 \\
    8 &  0.436 & 0.198 & 0.436 \\
    9 &  0.344 & 0.101 & 0.344 \\
   10 &  0.278 & 0.075 & 0.278 \\
\bottomrule
\end{tabular}

In [57]:
pd.options.display.float_format = '{:,.3f}'.format

In [58]:
df39.head()

   Node  RoCoF   AFV    AV
0     1  0.625 0.598 0.673
1     2  0.452 0.220 0.452
2     3  0.431 0.195 0.431
3     4  0.435 0.197 0.435
4     5  0.488 0.278 0.489

In [65]:
df39_merged = [df39,df3901,df3902,df3903]

In [67]:
df39merged = reduce(lambda  left,right: pd.merge(left,right,on=['Node'],
                                            how='outer'), df39_merged)

In [68]:
df39merged.head()

,Node,RoCoF_x,AFV_x,AV_x,RoCoF_y,AFV_y,AV_y,RoCoF_x,AFV_x,AV_x,RoCoF_y,AFV_y,AV_y
0,1,0.625,0.598,0.673,0.637,0.609,0.682,0.639,0.617,0.685,0.624,0.587,0.668
1,2,0.452,0.220,0.452,0.458,0.213,0.458,0.451,0.224,0.451,0.439,0.203,0.439
2,3,0.431,0.195,0.431,0.435,0.192,0.435,0.427,0.183,0.427,0.423,0.179,0.423
3,4,0.435,0.197,0.435,0.444,0.199,0.444,0.440,0.206,0.440,0.422,0.182,0.422
4,5,0.488,0.278,0.489,0.495,0.307,0.496,0.489,0.277,0.489,0.474,0.258,0.474

In [69]:
print(df39merged.to_latex(index=False))

\begin{tabular}{rrrrrrrrrrrrr}
\toprule
 Node &  RoCoF\_x &  AFV\_x &  AV\_x &  RoCoF\_y &  AFV\_y &  AV\_y &  RoCoF\_x &  AFV\_x &  AV\_x &  RoCoF\_y &  AFV\_y &  AV\_y \\
\midrule
    1 &    0.625 &  0.598 & 0.673 &    0.637 &  0.609 & 0.682 &    0.639 &  0.617 & 0.685 &    0.624 &  0.587 & 0.668 \\
    2 &    0.452 &  0.220 & 0.452 &    0.458 &  0.213 & 0.458 &    0.451 &  0.224 & 0.451 &    0.439 &  0.203 & 0.439 \\
    3 &    0.431 &  0.195 & 0.431 &    0.435 &  0.192 & 0.435 &    0.427 &  0.183 & 0.427 &    0.423 &  0.179 & 0.423 \\
    4 &    0.435 &  0.197 & 0.435 &    0.444 &  0.199 & 0.444 &    0.440 &  0.206 & 0.440 &    0.422 &  0.182 & 0.422 \\
    5 &    0.488 &  0.278 & 0.489 &    0.495 &  0.307 & 0.496 &    0.489 &  0.277 & 0.489 &    0.474 &  0.258 & 0.474 \\
    6 &    0.430 &  0.211 & 0.430 &    0.441 &  0.208 & 0.441 &    0.436 &  0.205 & 0.436 &    0.420 &  0.193 & 0.420 \\
    7 &    0.452 &  0.231 & 0.452 &    0.464 &  0.237 & 0.464 &    0.465 &  0.240 & 0.465 &    0.445 &  0.207 & 0.445 \\
    8 &    0.454 &  0.210 & 0.454 &    0.462 &  0.218 & 0.462 &    0.453 &  0.212 & 0.453 &    0.436 &  0.198 & 0.436 \\
    9 &    0.361 &  0.101 & 0.361 &    0.368 &  0.103 & 0.368 &    0.359 &  0.111 & 0.359 &    0.344 &  0.101 & 0.344 \\
   10 &    0.293 &  0.071 & 0.293 &    0.301 &  0.072 & 0.301 &    0.301 &  0.079 & 0.301 &    0.278 &  0.075 & 0.278 \\
\bottomrule
\end{tabular}

In [74]:
df39merged.append(df39merged.mean(axis = 0), ignore_index=True)

,Node,RoCoF_x,AFV_x,AV_x,RoCoF_y,AFV_y,AV_y,RoCoF_x,AFV_x,AV_x,RoCoF_y,AFV_y,AV_y
0,1.000,0.625,0.598,0.673,0.637,0.609,0.682,0.639,0.617,0.685,0.624,0.587,0.668
1,2.000,0.452,0.220,0.452,0.458,0.213,0.458,0.451,0.224,0.451,0.439,0.203,0.439
2,3.000,0.431,0.195,0.431,0.435,0.192,0.435,0.427,0.183,0.427,0.423,0.179,0.423
3,4.000,0.435,0.197,0.435,0.444,0.199,0.444,0.440,0.206,0.440,0.422,0.182,0.422
4,5.000,0.488,0.278,0.489,0.495,0.307,0.496,0.489,0.277,0.489,0.474,0.258,0.474
5,6.000,0.430,0.211,0.430,0.441,0.208,0.441,0.436,0.205,0.436,0.420,0.193,0.420
6,7.000,0.452,0.231,0.452,0.464,0.237,0.464,0.465,0.240,0.465,0.445,0.207,0.445
7,8.000,0.454,0.210,0.454,0.462,0.218,0.462,0.453,0.212,0.453,0.436,0.198,0.436
8,9.000,0.361,0.101,0.361,0.368,0.103,0.368,0.359,0.111,0.359,0.344,0.101,0.344
9,10.000,0.293,0.071,0.293,0.301,0.072,0.301,0.301,0.079,0.301,0.278,0.075,0.278
10,5.500,0.442,0.231,0.447,0.450,0.236,0.455,0.446,0.236,0.451,0.431,0.218,0.435

In [73]:
df39merged.mean(axis = 0)

Node      5.500
RoCoF_x   0.442
AFV_x     0.231
AV_x      0.447
RoCoF_y   0.450
AFV_y     0.236
AV_y      0.455
RoCoF_x   0.446
AFV_x     0.236
AV_x      0.451
RoCoF_y   0.431
AFV_y     0.218
AV_y      0.435
dtype: float64